In [400]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [401]:
data = pd.read_csv('matches.csv',index_col=0)
data.head(3)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [402]:
data.shape

(756, 17)

In [403]:
data.groupby(['season']).count()

,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
season,,,,,,,,,,,,,,,,
2008,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58,0
2009,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,0
2010,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2011,73,73,73,73,73,73,73,73,72,73,73,72,73,73,73,0
2012,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,0
2013,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76,0
2014,53,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2015,59,59,59,59,59,59,59,59,57,59,59,57,59,59,59,0
2016,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,0
2017,59,59,59,59,59,59,59,59,59,59,59,59,59,58,58,0
2018,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60
2019,60,60,60,60,60,60,60,60,59,60,60,59,60,59,59,59

60 Matches in an IPL season except from 2011-2013 where 10 teams where Included

In [404]:
data['team1'].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Gujarat Lions                   14
Rising Pune Supergiant           8
Rising Pune Supergiants          7
Kochi Tuskers Kerala             7
Delhi Capitals                   6
Name: team1, dtype: int64

In [405]:
data[data['team1']=='Rising Pune Supergiant']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
13,2017,Rajkot,2017-04-14,Rising Pune Supergiant,Gujarat Lions,Gujarat Lions,field,normal,0,Gujarat Lions,0,7,AJ Tye,Saurashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
17,2017,Bangalore,2017-04-16,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN
28,2017,Mumbai,2017-04-24,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,3,0,BA Stokes,Wankhede Stadium,A Nand Kishore,S Ravi,NaN
29,2017,Pune,2017-04-26,Rising Pune Supergiant,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,RV Uthappa,Maharashtra Cricket Association Stadium,AY Dandekar,NJ Llong,NaN
33,2017,Pune,2017-04-29,Rising Pune Supergiant,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiant,61,0,LH Ferguson,Maharashtra Cricket Association Stadium,KN Ananthapadmanabhan,M Erasmus,NaN
43,2017,Hyderabad,2017-05-06,Rising Pune Supergiant,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Rising Pune Supergiant,12,0,JD Unadkat,"Rajiv Gandhi International Stadium, Uppal",KN Ananthapadmanabhan,AK Chaudhary,NaN
56,2017,Mumbai,2017-05-16,Rising Pune Supergiant,Mumbai Indians,Mumbai Indians,field,normal,0,Rising Pune Supergiant,20,0,Washington Sundar,Wankhede Stadium,S Ravi,C Shamshuddin,NaN

In [406]:
data[data['team2']=='Rising Pune Supergiants']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
577,2016,Mumbai,2016-04-09,Mumbai Indians,Rising Pune Supergiants,Mumbai Indians,bat,normal,0,Rising Pune Supergiants,0,9,AM Rahane,Wankhede Stadium,HDPK Dharmasena,CK Nandan,NaN
592,2016,Pune,2016-04-22,Royal Challengers Bangalore,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Royal Challengers Bangalore,13,0,AB de Villiers,Maharashtra Cricket Association Stadium,CB Gaffaney,VK Sharma,NaN
598,2016,Hyderabad,2016-04-26,Sunrisers Hyderabad,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,1,Rising Pune Supergiants,34,0,AB Dinda,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,CK Nandan,NaN
609,2016,Delhi,2016-05-05,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,AM Rahane,Feroz Shah Kotla,C Shamshuddin,RJ Tucker,NaN
616,2016,Visakhapatnam,2016-05-10,Sunrisers Hyderabad,Rising Pune Supergiants,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,A Zampa,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,CB Gaffaney,VK Sharma,NaN
625,2016,Visakhapatnam,2016-05-17,Delhi Daredevils,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,1,Rising Pune Supergiants,19,0,AB Dinda,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Nitin Menon,C Shamshuddin,NaN
629,2016,Visakhapatnam,2016-05-21,Kings XI Punjab,Rising Pune Supergiants,Kings XI Punjab,bat,normal,0,Rising Pune Supergiants,0,4,MS Dhoni,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,HDPK Dharmasena,Nitin Menon,NaN

In [407]:
data['team1'] = data['team1'].replace(['Rising Pune Supergiant'],'Rising Pune Supergiants')

In [408]:
data['team1'].value_counts()

Mumbai Indians                 101
Kings XI Punjab                 91
Chennai Super Kings             89
Royal Challengers Bangalore     85
Kolkata Knight Riders           83
Delhi Daredevils                72
Rajasthan Royals                67
Sunrisers Hyderabad             63
Deccan Chargers                 43
Pune Warriors                   20
Rising Pune Supergiants         15
Gujarat Lions                   14
Kochi Tuskers Kerala             7
Delhi Capitals                   6
Name: team1, dtype: int64

In [409]:
data[data['team2']=='Rising Pune Supergiant']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
25,2017,Pune,2017-04-22,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,6,MS Dhoni,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
38,2017,Pune,2017-05-01,Gujarat Lions,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,5,BA Stokes,Maharashtra Cricket Association Stadium,M Erasmus,C Shamshuddin,NaN
40,2017,Kolkata,2017-05-03,Kolkata Knight Riders,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,4,RA Tripathi,Eden Gardens,KN Ananthapadmanabhan,A Nand Kishore,NaN
51,2017,Delhi,2017-05-12,Delhi Daredevils,Rising Pune Supergiant,Delhi Daredevils,bat,normal,0,Delhi Daredevils,7,0,KK Nair,Feroz Shah Kotla,KN Ananthapadmanabhan,CK Nandan,NaN
54,2017,Pune,2017-05-14,Kings XI Punjab,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,9,JD Unadkat,Maharashtra Cricket Association Stadium,AY Dandekar,A Deshmukh,NaN
59,2017,Hyderabad,2017-05-21,Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",NJ Llong,S Ravi,NaN

In [410]:
data['team2'] = data['team2'].replace(['Rising Pune Supergiant'],'Rising Pune Supergiants')

In [411]:
data['team2'].value_counts()

Royal Challengers Bangalore    95
Kolkata Knight Riders          95
Delhi Daredevils               89
Mumbai Indians                 86
Kings XI Punjab                85
Rajasthan Royals               80
Chennai Super Kings            75
Sunrisers Hyderabad            45
Deccan Chargers                32
Pune Warriors                  26
Gujarat Lions                  16
Rising Pune Supergiants        15
Delhi Capitals                 10
Kochi Tuskers Kerala            7
Name: team2, dtype: int64

In [412]:
data['toss_winner'].value_counts()

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Kings XI Punjab                81
Royal Challengers Bangalore    81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Rising Pune Supergiants         7
Rising Pune Supergiant          6
Name: toss_winner, dtype: int64

In [413]:
data['toss_winner'] = data['toss_winner'].replace(['Rising Pune Supergiant'],'Rising Pune Supergiants')

In [414]:
data['toss_winner'].value_counts()

Mumbai Indians                 98
Kolkata Knight Riders          92
Chennai Super Kings            89
Kings XI Punjab                81
Royal Challengers Bangalore    81
Delhi Daredevils               80
Rajasthan Royals               80
Sunrisers Hyderabad            46
Deccan Chargers                43
Pune Warriors                  20
Gujarat Lions                  15
Rising Pune Supergiants        13
Delhi Capitals                 10
Kochi Tuskers Kerala            8
Name: toss_winner, dtype: int64

In [415]:
data['winner'].value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: winner, dtype: int64

In [416]:
data['winner'] = data['winner'].replace(['Rising Pune Supergiant'],'Rising Pune Supergiants')

In [417]:
data['winner'].value_counts()

Mumbai Indians                 109
Chennai Super Kings            100
Kolkata Knight Riders           92
Royal Challengers Bangalore     84
Kings XI Punjab                 82
Rajasthan Royals                75
Delhi Daredevils                67
Sunrisers Hyderabad             58
Deccan Chargers                 29
Rising Pune Supergiants         15
Gujarat Lions                   13
Pune Warriors                   12
Delhi Capitals                  10
Kochi Tuskers Kerala             6
Name: winner, dtype: int64

In [418]:
data.sample(10)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
608,2016,Kolkata,2016-05-04,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kolkata Knight Riders,7,0,AD Russell,Eden Gardens,AK Chaudhary,HDPK Dharmasena,NaN
17,2017,Bangalore,2017-04-16,Rising Pune Supergiants,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Rising Pune Supergiants,27,0,BA Stokes,M Chinnaswamy Stadium,KN Ananthapadmanabhan,C Shamshuddin,NaN
64,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN
561,2015,Raipur,2015-05-09,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,6,0,MC Henriques,Shaheed Veer Narayan Singh International Stadium,VA Kulkarni,S Ravi,NaN
356,2012,Bangalore,2012-05-06,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,5,AB de Villiers,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
112,2008,Kolkata,2008-05-25,Kings XI Punjab,Kolkata Knight Riders,Kings XI Punjab,bat,normal,0,Kolkata Knight Riders,0,3,Umar Gul,Eden Gardens,SJ Davis,I Shivram,NaN
376,2012,Hyderabad,2012-05-20,Deccan Chargers,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Deccan Chargers,9,0,DW Steyn,"Rajiv Gandhi International Stadium, Uppal",S Ravi,SJA Taufel,NaN
161,2009,Bloemfontein,2009-05-15,Delhi Daredevils,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,B Lee,OUTsurance Oval,HDPK Dharmasena,IL Howell,NaN
600,2016,Mumbai,2016-04-28,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,6,RG Sharma,Wankhede Stadium,Nitin Menon,RJ Tucker,NaN
11316,2019,Jaipur,11/04/19,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Sawai Mansingh Stadium,Bruce Oxenford,Ulhas Gandhe,Chris Gaffaney

In [419]:
data['toss_decision'].value_counts()

field    463
bat      293
Name: toss_decision, dtype: int64

In [420]:
data['result'].value_counts()

normal       743
tie            9
no result      4
Name: result, dtype: int64

In [421]:
data['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Mohali             10
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cape Town           7
Ranchi              7
Abu Dhabi           7
Cuttack             7
Port Elizabeth      7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [422]:
data['venue'].value_counts().sum()

756

In [423]:
data.head(6)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,2017,Indore,2017-04-08,Rising Pune Supergiants,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN

In [424]:
data.isnull().sum()

season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [425]:
data.drop(columns='umpire3',axis=1,inplace=True)

In [426]:
data.isnull().sum()

season             0
city               7
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             4
win_by_runs        0
win_by_wickets     0
player_of_match    4
venue              0
umpire1            2
umpire2            2
dtype: int64

In [427]:
data[data.isnull().any(axis=1)]

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
id,,,,,,,,,,,,,,,,
5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN
301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker
462,2014,NaN,2014-04-19,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary
463,2014,NaN,2014-04-19,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni
467,2014,NaN,2014-04-23,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth
469,2014,NaN,2014-04-25,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi
470,2014,NaN,2014-04-25,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus
475,2014,NaN,2014-04-28,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi
477,2014,NaN,2014-04-30,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus
546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak
571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan
11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe
11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN

In [428]:
data.dropna(inplace=True)

In [429]:
data.shape

(743, 16)

In [430]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 11415
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           743 non-null    int64
 1   city             743 non-null    object
 2   date             743 non-null    object
 3   team1            743 non-null    object
 4   team2            743 non-null    object
 5   toss_winner      743 non-null    object
 6   toss_decision    743 non-null    object
 7   result           743 non-null    object
 8   dl_applied       743 non-null    int64
 9   winner           743 non-null    object
 10  win_by_runs      743 non-null    int64
 11  win_by_wickets   743 non-null    int64
 12  player_of_match  743 non-null    object
 13  venue            743 non-null    object
 14  umpire1          743 non-null    object
 15  umpire2          743 non-null    object
dtypes: int64(4), object(12)
memory usage: 98.7+ KB

In [431]:
data['date'] = pd.to_datetime(data['date'])

In [432]:
data['city'].unique()

array(['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Mumbai', 'Kolkata',
       'Bangalore', 'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai',
       'Cape Town', 'Port Elizabeth', 'Durban', 'Centurion',
       'East London', 'Johannesburg', 'Kimberley', 'Bloemfontein',
       'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala', 'Kochi',
       'Visakhapatnam', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah',
       'Mohali', 'Bengaluru'], dtype=object)

In [433]:
dict_cities = {'Hyderabad': 0, 'Pune' : 1, 'Rajkot' : 2, 'Indore' : 3, 'Bangalore' : 4, 'Mumbai' : 5,
       'Kolkata' : 6, 'Delhi' : 7, 'Chandigarh' : 8, 'Kanpur' : 9, 'Jaipur' : 10, 'Chennai' : 11,
       'Cape Town':12, 'Port Elizabeth':13, 'Durban':14, 'Centurion':15,
       'East London' : 16, 'Johannesburg':17, 'Kimberley':18, 'Bloemfontein':19,
       'Ahmedabad':20, 'Cuttack':21, 'Nagpur':22, 'Dharamsala':23, 'Kochi':24,
       'Visakhapatnam':25, 'Raipur':26, 'Ranchi':27, 'Abu Dhabi':28, 'Sharjah':29,
       'Mohali':30, 'Bengaluru':31,}

In [434]:
data = data.replace({'city':dict_cities})

In [435]:
data.head(7)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
id,,,,,,,,,,,,,,,,
1,2017,0,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
2,2017,1,2017-04-06,Mumbai Indians,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
3,2017,2,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
4,2017,3,2017-04-08,Rising Pune Supergiants,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
6,2017,0,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong
7,2017,5,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan
8,2017,3,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin

In [436]:
data['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kings XI Punjab', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Delhi Capitals'], dtype=object)

In [437]:
dict_team1 = {'Sunrisers Hyderabad':0, 'Mumbai Indians':1, 'Gujarat Lions':2,
       'Rising Pune Supergiants':3, 'Kolkata Knight Riders':4,
       'Royal Challengers Bangalore':5, 'Delhi Daredevils':6,
       'Kings XI Punjab':7, 'Chennai Super Kings':8, 'Rajasthan Royals':9,
       'Deccan Chargers':10, 'Kochi Tuskers Kerala':11, 'Pune Warriors':12,
       'Delhi Capitals':13}

In [438]:
data = data.replace({'team1':dict_team1})

In [439]:
data.head(3)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
id,,,,,,,,,,,,,,,,
1,2017,0,2017-04-05,0,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
2,2017,1,2017-04-06,1,Rising Pune Supergiants,Rising Pune Supergiants,field,normal,0,Rising Pune Supergiants,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
3,2017,2,2017-04-07,2,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [440]:
data = data.replace({'team2':dict_team1})

In [441]:
data = data.replace({'toss_winner':dict_team1})

In [442]:
data = data.replace({'winner':dict_team1})

In [443]:
data.head(3)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
id,,,,,,,,,,,,,,,,
1,2017,0,2017-04-05,0,5,5,field,normal,0,0,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
2,2017,1,2017-04-06,1,3,3,field,normal,0,3,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
3,2017,2,2017-04-07,2,4,4,field,normal,0,4,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan

In [444]:
data.drop(columns=['player_of_match','umpire1','umpire2'],axis=1,inplace=True)

In [445]:
data.head(5)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
id,,,,,,,,,,,,,
1,2017,0,2017-04-05,0,5,5,field,normal,0,0,35,0,"Rajiv Gandhi International Stadium, Uppal"
2,2017,1,2017-04-06,1,3,3,field,normal,0,3,0,7,Maharashtra Cricket Association Stadium
3,2017,2,2017-04-07,2,4,4,field,normal,0,4,0,10,Saurashtra Cricket Association Stadium
4,2017,3,2017-04-08,3,7,7,field,normal,0,7,0,6,Holkar Cricket Stadium
6,2017,0,2017-04-09,2,0,0,field,normal,0,0,0,9,"Rajiv Gandhi International Stadium, Uppal"

In [446]:
data[data['venue']=='Rajiv Gandhi Intl. Cricket Stadium']

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
id,,,,,,,,,,,,,
11144,2019,0,2019-03-29,9,0,9,bat,normal,0,0,0,5,Rajiv Gandhi Intl. Cricket Stadium
11147,2019,0,2019-03-31,0,5,5,field,normal,0,0,118,0,Rajiv Gandhi Intl. Cricket Stadium
11310,2019,0,2019-06-04,1,0,0,field,normal,0,1,40,0,Rajiv Gandhi Intl. Cricket Stadium
11321,2019,0,2019-04-14,13,0,0,field,normal,0,13,39,0,Rajiv Gandhi Intl. Cricket Stadium
11324,2019,0,2019-04-17,8,0,8,bat,normal,0,0,0,6,Rajiv Gandhi Intl. Cricket Stadium
11329,2019,0,2019-04-21,4,0,0,field,normal,0,0,0,9,Rajiv Gandhi Intl. Cricket Stadium
11339,2019,0,2019-04-29,0,7,7,field,normal,0,0,45,0,Rajiv Gandhi Intl. Cricket Stadium
11415,2019,0,2019-12-05,1,8,1,bat,normal,0,1,1,0,Rajiv Gandhi Intl. Cricket Stadium

In [447]:
data['venue'] = data['venue'].replace(['Rajiv Gandhi International Stadium, Uppal'],'Rajiv Gandhi Intl. Cricket Stadium')
data['venue'] = data['venue'].replace(['M Chinnaswamy Stadium'],'M. Chinnaswamy Stadium')
data['venue'] = data['venue'].replace(['Feroz Shah Kotla Ground'],'Feroz Shah Kotla')
data['venue'] = data['venue'].replace(['Punjab Cricket Association IS Bindra Stadium, Mohali'],'IS Bindra Stadium')
data['venue'] = data['venue'].replace(['Punjab Cricket Association Stadium, Mohali'],'IS Bindra Stadium')
data['venue'] = data['venue'].replace(['MA Chidambaram Stadium, Chepauk'],'M. A. Chidambaram Stadium')
data['venue'] = data['venue'].replace(['Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'],'ACA-VDCA Stadium')

In [448]:
data.venue.unique()

array(['Rajiv Gandhi Intl. Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'Wankhede Stadium', 'Eden Gardens', 'M. Chinnaswamy Stadium',
       'Feroz Shah Kotla', 'IS Bindra Stadium', 'Green Park',
       'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium'], dtype=object)

In [449]:
dict_venues = {'Rajiv Gandhi Intl. Cricket Stadium':0,
       'Maharashtra Cricket Association Stadium':1,
       'Saurashtra Cricket Association Stadium':2, 'Holkar Cricket Stadium':3,
        'Eden Gardens':4, 'M. Chinnaswamy Stadium':5,
       'Feroz Shah Kotla':6, 'IS Bindra Stadium':7, 'Green Park':8,
       'Sawai Mansingh Stadium':9, 'M. A. Chidambaram Stadium':10,
       'Dr DY Patil Sports Academy':11, 'Newlands':12, "St George's Park":13,
       'SuperSport Park':14, 'Buffalo Park':15,
       'New Wanderers Stadium':16, 'De Beers Diamond Oval':17,
       'OUTsurance Oval':18, 'Brabourne Stadium':19,
       'Sardar Patel Stadium, Motera':20, 'Barabati Stadium':21,
       'Vidarbha Cricket Association Stadium, Jamtha':22,
       'Himachal Pradesh Cricket Association Stadium':23, 'Nehru Stadium':24,
       'ACA-VDCA Stadium':25, 'Subrata Roy Sahara Stadium':26,
       'Shaheed Veer Narayan Singh International Stadium':27,
       'JSCA International Stadium Complex':28, 'Sheikh Zayed Stadium':29,
       'Sharjah Cricket Stadium':30,'Wankhede Stadium':31,'Kingsmead':32,
       'Dubai International Cricket Stadium':33}

In [450]:
data = data.replace({'venue':dict_venues})

In [451]:
data.head(8)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
id,,,,,,,,,,,,,
1,2017,0,2017-04-05,0,5,5,field,normal,0,0,35,0,0
2,2017,1,2017-04-06,1,3,3,field,normal,0,3,0,7,1
3,2017,2,2017-04-07,2,4,4,field,normal,0,4,0,10,2
4,2017,3,2017-04-08,3,7,7,field,normal,0,7,0,6,3
6,2017,0,2017-04-09,2,0,0,field,normal,0,0,0,9,0
7,2017,5,2017-04-09,4,1,1,field,normal,0,1,0,4,31
8,2017,3,2017-04-10,5,7,5,bat,normal,0,7,0,8,3
9,2017,1,2017-04-11,6,3,3,field,normal,0,6,97,0,1

In [452]:
data['result'].value_counts()

normal    734
tie         9
Name: result, dtype: int64

In [453]:
data['toss_decision'] = data['toss_decision'].astype('category').cat.codes
data['result'] = data['result'].astype('category').cat.codes

In [454]:
data.head(6)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
id,,,,,,,,,,,,,
1,2017,0,2017-04-05,0,5,5,1,0,0,0,35,0,0
2,2017,1,2017-04-06,1,3,3,1,0,0,3,0,7,1
3,2017,2,2017-04-07,2,4,4,1,0,0,4,0,10,2
4,2017,3,2017-04-08,3,7,7,1,0,0,7,0,6,3
6,2017,0,2017-04-09,2,0,0,1,0,0,0,0,9,0
7,2017,5,2017-04-09,4,1,1,1,0,0,1,0,4,31

In [455]:
data.drop(columns=['season'],inplace=True,axis=1)

In [456]:
data.head(7)

,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
id,,,,,,,,,,,,
1,0,2017-04-05,0,5,5,1,0,0,0,35,0,0
2,1,2017-04-06,1,3,3,1,0,0,3,0,7,1
3,2,2017-04-07,2,4,4,1,0,0,4,0,10,2
4,3,2017-04-08,3,7,7,1,0,0,7,0,6,3
6,0,2017-04-09,2,0,0,1,0,0,0,0,9,0
7,5,2017-04-09,4,1,1,1,0,0,1,0,4,31
8,3,2017-04-10,5,7,5,0,0,0,7,0,8,3

In [457]:
data.rename(columns={'team1':'team','team2':'opponent'},inplace=True)

In [458]:
data.loc[data['winner']==data['team'],'Target',] = 'W'
data.loc[data['winner']!=data['team'],'Target',] = 'L'

In [459]:
data

,city,date,team,opponent,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,Target
id,,,,,,,,,,,,,
1,0,2017-04-05,0,5,5,1,0,0,0,35,0,0,W
2,1,2017-04-06,1,3,3,1,0,0,3,0,7,1,L
3,2,2017-04-07,2,4,4,1,0,0,4,0,10,2,L
4,3,2017-04-08,3,7,7,1,0,0,7,0,6,3,L
6,0,2017-04-09,2,0,0,1,0,0,0,0,9,0,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11346,30,2019-05-05,8,7,7,1,0,0,7,0,6,7,L
11347,5,2019-05-05,4,1,1,1,0,0,1,0,9,31,L
11412,11,2019-07-05,8,1,8,0,0,0,1,0,6,10,L
11414,25,2019-10-05,13,8,8,1,0,0,8,0,6,25,L
11415,0,2019-12-05,1,8,1,0,0,0,1,1,0,0,W

In [460]:
data['Target'] = data['Target'].astype('category').cat.codes

In [461]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 743 entries, 1 to 11415
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            743 non-null    int64
 1   date            743 non-null    datetime64[ns]
 2   team            743 non-null    int64
 3   opponent        743 non-null    int64
 4   toss_winner     743 non-null    int64
 5   toss_decision   743 non-null    int8
 6   result          743 non-null    int8
 7   dl_applied      743 non-null    int64
 8   winner          743 non-null    int64
 9   win_by_runs     743 non-null    int64
 10  win_by_wickets  743 non-null    int64
 11  venue           743 non-null    int64
 12  Target          743 non-null    int8
dtypes: datetime64[ns](1), int64(9), int8(3)
memory usage: 66.0 KB

In [462]:
data.drop(columns=['result'],axis=1)

,city,date,team,opponent,toss_winner,toss_decision,dl_applied,winner,win_by_runs,win_by_wickets,venue,Target
id,,,,,,,,,,,,
1,0,2017-04-05,0,5,5,1,0,0,35,0,0,1
2,1,2017-04-06,1,3,3,1,0,3,0,7,1,0
3,2,2017-04-07,2,4,4,1,0,4,0,10,2,0
4,3,2017-04-08,3,7,7,1,0,7,0,6,3,0
6,0,2017-04-09,2,0,0,1,0,0,0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11346,30,2019-05-05,8,7,7,1,0,7,0,6,7,0
11347,5,2019-05-05,4,1,1,1,0,1,0,9,31,0
11412,11,2019-07-05,8,1,8,0,0,1,0,6,10,0
11414,25,2019-10-05,13,8,8,1,0,8,0,6,25,0
11415,0,2019-12-05,1,8,1,0,0,1,1,0,0,1

In [463]:
from sklearn.ensemble import RandomForestClassifier

In [464]:
rf = RandomForestClassifier(n_estimators=50,min_samples_split=10,random_state=1)

In [465]:
train = data[data['date']<'2017-01-01']

In [466]:
train

,city,date,team,opponent,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,Target
id,,,,,,,,,,,,,
60,4,2008-04-18,4,5,5,1,0,0,4,140,0,5,1
61,8,2008-04-19,8,7,8,0,0,0,8,33,0,7,1
62,7,2008-04-19,9,6,9,0,0,0,6,0,9,6,0
63,5,2008-04-20,1,5,1,0,0,0,5,0,5,31,0
64,6,2008-04-20,10,4,10,0,0,0,4,0,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,26,2016-05-22,6,5,5,1,0,0,5,0,6,27,0
633,4,2016-05-24,2,5,5,1,0,0,5,0,4,5,0
634,7,2016-05-25,0,4,4,1,0,0,0,22,0,6,1
635,7,2016-05-27,2,0,0,1,0,0,0,0,4,6,0
636,4,2016-05-29,0,5,0,0,0,0,0,8,0,5,1

In [467]:
test = data[data['date']>'2017-01-01']

In [468]:
test

,city,date,team,opponent,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,Target
id,,,,,,,,,,,,,
1,0,2017-04-05,0,5,5,1,0,0,0,35,0,0,1
2,1,2017-04-06,1,3,3,1,0,0,3,0,7,1,0
3,2,2017-04-07,2,4,4,1,0,0,4,0,10,2,0
4,3,2017-04-08,3,7,7,1,0,0,7,0,6,3,0
6,0,2017-04-09,2,0,0,1,0,0,0,0,9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11346,30,2019-05-05,8,7,7,1,0,0,7,0,6,7,0
11347,5,2019-05-05,4,1,1,1,0,0,1,0,9,31,0
11412,11,2019-07-05,8,1,8,0,0,0,1,0,6,10,0
11414,25,2019-10-05,13,8,8,1,0,0,8,0,6,25,0
11415,0,2019-12-05,1,8,1,0,0,0,1,1,0,0,1

In [469]:
predictors = ['team','opponent','toss_winner','toss_decision','dl_applied','winner','win_by_runs','win_by_wickets','venue']

In [537]:
rf.fit(train[predictors],train['Target'])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [538]:
preds2 = rf.predict(train[predictors])

In [471]:
preds = rf.predict(test[predictors])

In [536]:
from sklearn.metrics import accuracy_score

In [540]:
train_acc = accuracy_score(train['Target'],preds2)

In [473]:
acc = accuracy_score(test['Target'],preds)

In [541]:
acc

0.9943181818181818

In [542]:
train_acc

0.9982363315696648

In [535]:
from sklearn.metrics import confusion_matrix

In [515]:
confusion_matrix(test['Target'],preds)

array([[100,   0],
       [  1,  75]], dtype=int64)

#USING THE MODEL ON IPL_2020 DATASET

In [477]:
validation = pd.read_csv('ipl2020.csv',index_col=0)

In [478]:
validation.head()

,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
id,,,,,,,,,,,,,,,,
1216492,Abu Dhabi,19-09-2020,AT Rayudu,Sheikh Zayed Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,CB Gaffaney,VK Sharma
1216493,Dubai,20-09-2020,MP Stoinis,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,tie,NaN,Y,NaN,AK Chaudhary,Nitin Menon
1216494,Abu Dhabi,21-10-2020,Mohammed Siraj,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Royal Challengers Bangalore,wickets,8.0,N,NaN,VK Sharma,S Ravi
1216495,Sharjah,03-11-2020,S Nadeem,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,10.0,N,NaN,C Shamshuddin,RK Illingworth
1216496,Sharjah,22-09-2020,SV Samson,Sharjah Cricket Stadium,0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Rajasthan Royals,runs,16.0,N,NaN,C Shamshuddin,VA Kulkarni

In [479]:
validation.drop(columns=['city','player_of_match','neutral_venue','umpire1','umpire2','eliminator'],axis=1,inplace=True)

In [480]:
validation['result'].value_counts()

wickets    29
runs       27
tie         4
Name: result, dtype: int64

In [481]:
win_by_wickets_df = validation[validation['result']=='wickets']

In [482]:
win_by_wickets_df.rename(columns={'result_margin':'win_by_wickets'})

,date,venue,team1,team2,toss_winner,toss_decision,winner,result,win_by_wickets,method
id,,,,,,,,,,
1216492,19-09-2020,Sheikh Zayed Stadium,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,NaN
1216494,21-10-2020,Sheikh Zayed Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,bat,Royal Challengers Bangalore,wickets,8.0,NaN
1216495,03-11-2020,Sharjah Cricket Stadium,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,10.0,NaN
1216499,28-10-2020,Sheikh Zayed Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,5.0,NaN
1216502,31-10-2020,Sharjah Cricket Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,5.0,NaN
1216505,02-11-2020,Sheikh Zayed Stadium,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,6.0,NaN
1216506,01-11-2020,Sheikh Zayed Stadium,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,9.0,NaN
1216507,11-10-2020,Dubai International Cricket Stadium,Sunrisers Hyderabad,Rajasthan Royals,Sunrisers Hyderabad,bat,Rajasthan Royals,wickets,5.0,NaN
1216509,17-10-2020,Sharjah Cricket Stadium,Chennai Super Kings,Delhi Capitals,Chennai Super Kings,bat,Delhi Capitals,wickets,5.0,NaN
1216513,04-10-2020,Dubai International Cricket Stadium,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,bat,Chennai Super Kings,wickets,10.0,NaN
1216514,03-10-2020,Sheikh Zayed Stadium,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,8.0,NaN
1216518,22-10-2020,Dubai International Cricket Stadium,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,8.0,NaN
1216520,26-10-2020,Sharjah Cricket Stadium,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,8.0,NaN
1216521,23-10-2020,Sharjah Cricket Stadium,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,10.0,NaN
1216522,17-10-2020,Dubai International Cricket Stadium,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,7.0,NaN
1216526,16-10-2020,Sheikh Zayed Stadium,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,8.0,NaN
1216527,27-09-2020,Sharjah Cricket Stadium,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,NaN
1216529,11-10-2020,Sheikh Zayed Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,NaN
1216531,15-10-2020,Sharjah Cricket Stadium,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,8.0,NaN
1216533,19-10-2020,Sheikh Zayed Stadium,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,NaN
1216535,31-10-2020,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,NaN
1216536,29-10-2020,Dubai International Cricket Stadium,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,NaN
1216537,30-10-2020,Sheikh Zayed Stadium,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,NaN
1216541,25-10-2020,Sheikh Zayed Stadium,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,NaN
1216544,25-10-2020,Dubai International Cricket Stadium,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,NaN
1216545,26-09-2020,Sheikh Zayed Stadium,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,NaN
1216546,20-10-2020,Dubai International Cricket Stadium,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,NaN
1237178,06-11-2020,Sheikh Zayed Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,NaN
1237181,10-11-2020,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,NaN

In [483]:
win_by_wickets = win_by_wickets_df.iloc[:,-1]

In [484]:
validation['win_by_wickets'] = win_by_wickets

In [485]:
win_by_runs_df = validation[validation['result']=='runs']

In [486]:
win_by_runs_df.rename(columns={'result_margin':'win_by_runs'})

,date,venue,team1,team2,toss_winner,toss_decision,winner,result,win_by_runs,method,win_by_wickets
id,,,,,,,,,,,
1216496,22-09-2020,Sharjah Cricket Stadium,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Rajasthan Royals,runs,16.0,NaN,NaN
1216497,24-10-2020,Sheikh Zayed Stadium,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,Kolkata Knight Riders,runs,59.0,NaN,NaN
1216498,24-10-2020,Dubai International Cricket Stadium,Kings XI Punjab,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Kings XI Punjab,runs,12.0,NaN,NaN
1216500,09-10-2020,Sharjah Cricket Stadium,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,field,Delhi Capitals,runs,46.0,NaN,NaN
1216501,07-10-2020,Sheikh Zayed Stadium,Kolkata Knight Riders,Chennai Super Kings,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,10.0,NaN,NaN
1216503,01-10-2020,Sheikh Zayed Stadium,Mumbai Indians,Kings XI Punjab,Kings XI Punjab,field,Mumbai Indians,runs,48.0,NaN,NaN
1216504,30-09-2020,Dubai International Cricket Stadium,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,37.0,NaN,NaN
1216508,23-09-2020,Sheikh Zayed Stadium,Mumbai Indians,Kolkata Knight Riders,Kolkata Knight Riders,field,Mumbai Indians,runs,49.0,NaN,NaN
1216510,24-09-2020,Dubai International Cricket Stadium,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kings XI Punjab,runs,97.0,NaN,NaN
1216511,06-10-2020,Sheikh Zayed Stadium,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Mumbai Indians,runs,57.0,NaN,NaN
1216515,03-10-2020,Sharjah Cricket Stadium,Delhi Capitals,Kolkata Knight Riders,Kolkata Knight Riders,field,Delhi Capitals,runs,18.0,NaN,NaN
1216516,02-10-2020,Dubai International Cricket Stadium,Sunrisers Hyderabad,Chennai Super Kings,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,7.0,NaN,NaN
1216519,05-10-2020,Dubai International Cricket Stadium,Delhi Capitals,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Capitals,runs,59.0,NaN,NaN
1216523,10-10-2020,Sheikh Zayed Stadium,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,2.0,NaN,NaN
1216524,27-10-2020,Dubai International Cricket Stadium,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,NaN,NaN
1216525,10-10-2020,Dubai International Cricket Stadium,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,37.0,NaN,NaN
1216528,13-10-2020,Dubai International Cricket Stadium,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,NaN,NaN
1216530,01-11-2020,Dubai International Cricket Stadium,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,NaN,NaN
1216532,29-09-2020,Sheikh Zayed Stadium,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,NaN,NaN
1216534,21-09-2020,Dubai International Cricket Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,NaN,NaN
1216538,04-10-2020,Sharjah Cricket Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,NaN,NaN
1216539,25-09-2020,Dubai International Cricket Stadium,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Delhi Capitals,runs,44.0,NaN,NaN
1216540,12-10-2020,Sharjah Cricket Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,NaN,NaN
1216542,08-10-2020,Dubai International Cricket Stadium,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,69.0,NaN,NaN
1216543,14-10-2020,Dubai International Cricket Stadium,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,NaN,NaN
1237177,05-11-2020,Dubai International Cricket Stadium,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,NaN,NaN
1237180,08-11-2020,Sheikh Zayed Stadium,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,NaN,NaN

In [487]:
win_by_runs = win_by_runs_df.iloc[:,-1]

In [488]:
validation['win_by_runs'] = win_by_runs

In [489]:
validation['win_by_wickets'].fillna(0,inplace=True)
validation['win_by_runs'].fillna(0,inplace=True)

In [490]:
validation['win_by_wickets'] = validation['win_by_wickets'].astype('int')

In [491]:
validation['win_by_runs'] = validation['win_by_runs'].astype('int')

In [492]:
validation.head(2)

,date,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,method,win_by_wickets,win_by_runs
id,,,,,,,,,,,,
1216492,19-09-2020,Sheikh Zayed Stadium,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,NaN,0,0
1216493,20-09-2020,Dubai International Cricket Stadium,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,Delhi Capitals,tie,NaN,NaN,0,0

In [493]:
validation.drop(columns=['result','result_margin'],axis=1,inplace=True)

In [494]:
validation['method'].fillna(0,inplace=True)

In [495]:
validation['method'] = validation['method'].astype('int')

In [496]:
validation['venue'].unique()

array(['Sheikh Zayed Stadium', 'Dubai International Cricket Stadium',
       'Sharjah Cricket Stadium'], dtype=object)

In [497]:
validation = validation.replace({'venue':dict_venues})
validation = validation.replace({'team1':dict_team1})
validation = validation.replace({'team2':dict_team1})
validation = validation.replace({'toss_winner':dict_team1})
validation = validation.replace({'winner':dict_team1})

In [498]:
validation.head(3)

,date,venue,team1,team2,toss_winner,toss_decision,winner,method,win_by_wickets,win_by_runs
id,,,,,,,,,,
1216492,19-09-2020,29,1,8,8,field,8,0,0,0
1216493,20-09-2020,33,13,7,7,field,13,0,0,0
1216494,21-10-2020,29,4,5,4,bat,5,0,0,0

In [499]:
validation['toss_decision'].value_counts()

field    33
bat      27
Name: toss_decision, dtype: int64

In [500]:
validation = validation.replace({'field':1,'bat':0})

In [501]:
validation.head(3)

,date,venue,team1,team2,toss_winner,toss_decision,winner,method,win_by_wickets,win_by_runs
id,,,,,,,,,,
1216492,19-09-2020,29,1,8,8,1,8,0,0,0
1216493,20-09-2020,33,13,7,7,1,13,0,0,0
1216494,21-10-2020,29,4,5,4,0,5,0,0,0

In [502]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1216492 to 1237181
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            60 non-null     object
 1   venue           60 non-null     int64
 2   team1           60 non-null     int64
 3   team2           60 non-null     int64
 4   toss_winner     60 non-null     int64
 5   toss_decision   60 non-null     int64
 6   winner          60 non-null     int64
 7   method          60 non-null     int32
 8   win_by_wickets  60 non-null     int32
 9   win_by_runs     60 non-null     int32
dtypes: int32(3), int64(6), object(1)
memory usage: 4.5+ KB

In [503]:
validation['date'] = pd.to_datetime(validation['date'])

In [504]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1216492 to 1237181
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            60 non-null     datetime64[ns]
 1   venue           60 non-null     int64
 2   team1           60 non-null     int64
 3   team2           60 non-null     int64
 4   toss_winner     60 non-null     int64
 5   toss_decision   60 non-null     int64
 6   winner          60 non-null     int64
 7   method          60 non-null     int32
 8   win_by_wickets  60 non-null     int32
 9   win_by_runs     60 non-null     int32
dtypes: datetime64[ns](1), int32(3), int64(6)
memory usage: 4.5 KB

In [505]:
validation.head(3)

,date,venue,team1,team2,toss_winner,toss_decision,winner,method,win_by_wickets,win_by_runs
id,,,,,,,,,,
1216492,2020-09-19,29,1,8,8,1,8,0,0,0
1216493,2020-09-20,33,13,7,7,1,13,0,0,0
1216494,2020-10-21,29,4,5,4,0,5,0,0,0

In [506]:
validation.loc[validation['winner']==validation['team1'],'Target',] = 'W'
validation.loc[validation['winner']!=validation['team1'],'Target',] = 'L'

In [507]:
validation.rename(columns={'team1':'team','team2':'opponent','method':'dl_applied'},inplace=True)

In [508]:
validation.head(3)

,date,venue,team,opponent,toss_winner,toss_decision,winner,dl_applied,win_by_wickets,win_by_runs,Target
id,,,,,,,,,,,
1216492,2020-09-19,29,1,8,8,1,8,0,0,0,L
1216493,2020-09-20,33,13,7,7,1,13,0,0,0,W
1216494,2020-10-21,29,4,5,4,0,5,0,0,0,L

In [509]:
validation = validation.replace({'W':1,'L':0})

In [510]:
validation

,date,venue,team,opponent,toss_winner,toss_decision,winner,dl_applied,win_by_wickets,win_by_runs,Target
id,,,,,,,,,,,
1216492,2020-09-19,29,1,8,8,1,8,0,0,0,0
1216493,2020-09-20,33,13,7,7,1,13,0,0,0,1
1216494,2020-10-21,29,4,5,4,0,5,0,0,0,0
1216495,2020-03-11,30,1,0,0,1,0,0,0,0,0
1216496,2020-09-22,30,9,8,8,1,9,0,0,0,1
1216497,2020-10-24,29,4,13,13,1,4,0,0,0,1
1216498,2020-10-24,33,7,0,0,1,7,0,0,0,1
1216499,2020-10-28,29,5,1,1,1,1,0,0,0,0
1216500,2020-09-10,30,13,9,9,1,13,0,0,0,1
1216501,2020-07-10,29,4,8,4,0,4,0,0,0,1
1216502,2020-10-31,30,5,0,0,1,0,0,0,0,0
1216503,2020-01-10,29,1,7,7,1,1,0,0,0,1
1216504,2020-09-30,33,4,9,9,1,4,0,0,0,1
1216505,2020-02-11,29,5,13,13,1,13,0,0,0,0
1216506,2020-01-11,29,7,8,8,1,8,0,0,0,0
1216507,2020-11-10,33,0,9,0,0,9,0,0,0,0
1216508,2020-09-23,29,1,4,4,1,1,0,0,0,1
1216509,2020-10-17,30,8,13,8,0,13,0,0,0,0
1216510,2020-09-24,33,7,5,5,1,7,0,0,0,1
1216511,2020-06-10,29,1,9,1,0,1,0,0,0,1
1216512,2020-10-18,29,4,0,0,1,4,0,0,0,1
1216513,2020-04-10,33,7,8,7,0,8,0,0,0,0
1216514,2020-03-10,29,9,5,9,0,5,0,0,0,0
1216515,2020-03-10,30,13,4,4,1,13,0,0,0,1
1216516,2020-02-10,33,0,8,0,0,0,0,0,0,1
1216517,2020-10-18,33,1,7,1,0,7,0,0,0,0
1216518,2020-10-22,33,9,0,0,1,0,0,0,0,0
1216519,2020-05-10,33,13,5,5,1,13,0,0,0,1
1216520,2020-10-26,30,4,7,7,1,7,0,0,0,0
1216521,2020-10-23,30,8,1,1,1,1,0,0,0,0
1216522,2020-10-17,33,9,5,9,0,5,0,0,0,0
1216523,2020-10-10,29,4,7,4,0,4,0,0,0,1
1216524,2020-10-27,33,0,13,13,1,0,0,0,0,1
1216525,2020-10-10,33,5,8,5,0,5,0,0,0,1
1216526,2020-10-16,29,4,1,4,0,1,0,0,0,0
1216527,2020-09-27,30,7,9,9,1,9,0,0,0,0
1216528,2020-10-13,33,8,0,8,0,8,0,0,0,1
1216529,2020-11-10,29,13,1,13,0,1,0,0,0,0
1216530,2020-01-11,33,4,9,9,1,4,0,0,0,1
1216531,2020-10-15,30,5,7,5,0,7,0,0,0,0
1216532,2020-09-29,29,0,13,13,1,0,0,0,0,1
1216533,2020-10-19,29,8,9,8,0,9,0,0,0,0
1216534,2020-09-21,33,5,0,0,1,5,0,0,0,1
1216535,2020-10-31,33,13,1,1,1,1,0,0,0,0
1216536,2020-10-29,33,4,8,8,1,8,0,0,0,0
1216537,2020-10-30,29,7,9,9,1,9,0,0,0,0
1216538,2020-04-10,30,1,0,1,0,1,0,0,0,1
1216539,2020-09-25,33,13,8,8,1,13,0,0,0,1
1216540,2020-12-10,30,5,4,5,0,5,0,0,0,1
1216541,2020-10-25,29,1,9,1,0,9,0,0,0,0
1216542,2020-08-10,33,0,7,0,0,0,0,0,0,1
1216543,2020-10-14,33,13,9,13,0,13,0,0,0,1
1216544,2020-10-25,33,5,8,5,0,8,0,0,0,0
1216545,2020-09-26,29,0,4,0,0,4,0,0,0,0
1216546,2020-10-20,33,13,7,13,0,7,0,0,0,0
1216547,2020-09-28,33,5,1,1,1,5,0,0,0,1
1237177,2020-05-11,33,1,13,13,1,1,0,0,0,1
1237178,2020-06-11,29,5,0,0,1,0,0,0,0,0
1237180,2020-08-11,29,13,0,13,0,13,0,0,0,1
1237181,2020-10-11,33,13,1,13,0,1,0,0,0,0

In [511]:
preds_2020 = rf.predict(validation[predictors])

In [522]:
preds_2020

array([1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0], dtype=int8)

In [513]:
acc_2020 = accuracy_score(validation['Target'],preds_2020)

In [514]:
acc_2020

0.5666666666666667

In [534]:
confusion_matrix(validation['Target'],preds_2020)

array([[18, 12],
       [14, 16]], dtype=int64)